In [1]:
import camelot

In [2]:
import glob

In [3]:
folders = ['AFP', 'FONASA', 'ISAPRE', 'MUTUAL', 'CCAF']

In [4]:
folder_paths = ['/Users/joqsan/0-Excel/Reading_From_Folders/' + folder + '/*.pdf' for folder in folders]

In [5]:
folder_paths

['/Users/joqsan/0-Excel/Reading_From_Folders/AFP/*.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/FONASA/*.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/*.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/MUTUAL/*.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/CCAF/*.pdf']

# Let's test all

In [6]:
import camelot
import pandas as pd
%matplotlib notebook
import re
import calendar
import locale
locale.setlocale(locale.LC_ALL,'es_ES.UTF-8')

'es_ES.UTF-8'

In [7]:
months = list(calendar.month_abbr)
months = list(map(lambda x: x.capitalize(), months))

In [8]:
%load_ext autoreload
%autoreload 2

In [9]:
from data_cleaning import *

In [10]:
params = {
    'AFP': {
        'area': ['21, 442, 133, 422', '19, 407, 394, 244', '397, 366, 779, 318'],
        'cols': ['', '', ''],
        'dc_function' : afp_data_cleaning
    },
    'FONASA': {
        'area' : ['54, 288, 294, 158', '60, 335, 131, 301'],
        'cols' : ['', ''],
        'dc_function' : fonasa_data_cleaning
    },
    'ISAPRE': {
        'area' : ['14, 442, 580, 380'],
        'cols' : ['136, 241, 362, 418, 459, 513, 590'],
        'dc_function' : isapre_data_cleaning
    },
    'MUTUAL' : {
        'area' : ['16, 464, 536, 383'],
        'cols' : [''],
        'dc_function' : mutual_data_cleaning
    },
    'CCAF' : {
        'area' : ['16, 466, 393, 298', '393, 471, 736, 382'],
        'cols' : ['575.2, 418.8, 711.4', '141.3, 184.8, 303, 362.1'],
        'dc_function' : ccaf_data_cleaning
    }
}

In [11]:
dataframes = {
    'AFP' : [],
    'FONASA' : [],
    'ISAPRE' : [],
    'MUTUAL' : [],
    'CCAF' : []
}

In [12]:
for folder in folders:
    folder_path = '/Users/joqsan/0-Excel/Reading_From_Folders/' + folder + '/*.pdf'
    files = [filename for filename in glob.glob(folder_path)]
    
    for file in files:
        dfs = camelot.read_pdf(file, pages='1', flavor='stream', 
                               table_areas=params[folder]['area'], columns=params[folder]['cols'])
        df = params[folder]['dc_function'](dfs)
        dataframes[folder].append(df)

In [13]:
for entity, df_list in dataframes.items():
    dataframes[entity] = pd.concat(df_list)
    dataframes[entity] = sort_index(dataframes[entity])

In [14]:
from IPython import display

In [15]:
for entity, df in dataframes.items():
    display.display(df)

0             Total Imponible Cotización Obligatoria  \
Ene Capital           1371956                 156952
    Cuprum            1304583                 149244
    Habitat           9154213                1031680
    Modelo            4188146                 451063
    PlanVital         2197538                 245245
    Provida           3507125                 401566
Feb Capital           2125687                 243179
    Cuprum            1304583                 149244
    Habitat           9154213                1031680
    Modelo            4188146                 451063
    PlanVital         2234221                 249338
    Provida           3507125                 401566
Mar Capital           2689619                 307692
    Cuprum            1006648                 115160
    Habitat           5672009                 639235
    Modelo            6845862                 737300
    PlanVital         2588517                 288879
    Provida           4556034                 521666

0             Seguro Invalidez y Sobrevivencia (SIS)  \
Ene Capital                                    30341
    Cuprum                                     19960
    Habitat                                   119080
    Modelo                                     64079
    PlanVital                                  33623
    Provida                                    53660
Feb Capital                                    32523
    Cuprum                                     19960
    Habitat                                   119080
    Modelo                                     64079
    PlanVital                                  34184
    Provida                                    53660
Mar Capital                                    41151
    Cuprum                                     15402
    Habitat                                    68770
    Modelo                                    104742
    PlanVital                                  42590
    Provida                                    69709

0             Cotización Voluntaria (APVI) Depósito Convenido  \
Ene Capital                              0                  0
    Cuprum                               0                  0
    Habitat                              0                  0
    Modelo                               0                  0
    PlanVital                            0                  0
    Provida                          72000                  0
Feb Capital                              0                  0
    Cuprum                               0                  0
    Habitat                              0                  0
    Modelo                               0                  0
    PlanVital                            0                  0
    Provida                          72000                  0
Mar Capital                              0                  0
    Cuprum                               0                  0
    Habitat                              0                  0
    Modelo                               0                  0
    PlanVital                            0                  0
    Provida                          72000                  0

0             Depósito en Cuenta de Ahorro  \
Ene Capital                              0
    Cuprum                               0
    Habitat                              0
    Modelo                               0
    PlanVital                            0
    Provida                          72000
Feb Capital                              0
    Cuprum                               0
    Habitat                              0
    Modelo                               0
    PlanVital                            0
    Provida                          72000
Mar Capital                              0
    Cuprum                               0
    Habitat                              0
    Modelo                               0
    PlanVital                            0
    Provida                          72000

0             Aportes de Indemnización Sustitutiva  \
Ene Capital                                      0
    Cuprum                                       0
    Habitat                                      0
    Modelo                                       0
    PlanVital                                    0
    Provida                                      0
Feb Capital                                      0
    Cuprum                                       0
    Habitat                                      0
    Modelo                                       0
    PlanVital                                    0
    Provida                                      0
Mar Capital                                      0
    Cuprum                                       0
    Habitat                                      0
    Modelo                                       0
    PlanVital                                    0
    Provida                                      0

0             Cotización por Trabajos Pesados APV Colectivo Empleador  \
Ene Capital                                 0                       0
    Cuprum                                  0                       0
    Habitat                                 0                       0
    Modelo                                  0                       0
    PlanVital                               0                       0
    Provida                                 0                       0
Feb Capital                                 0                       0
    Cuprum                                  0                       0
    Habitat                                 0                       0
    Modelo                                  0                       0
    PlanVital                               0                       0
    Provida                                 0                       0
Mar Capital                                 0                       0
    Cuprum                                  0                       0
    Habitat                                 0                       0
    Modelo                                  0                       0
    PlanVital                               0                       0
    Provida                                 0                       0

0             APV Colectivo Trabajador Monto Capitalización Voluntaria  \
Ene Capital                          0                               0
    Cuprum                           0                               0
    Habitat                          0                               0
    Modelo                           0                               0
    PlanVital                        0                               0
    Provida                          0                               0
Feb Capital                          0                               0
    Cuprum                           0                               0
    Habitat                          0                               0
    Modelo                           0                               0
    PlanVital                        0                               0
    Provida                          0                               0
Mar Capital                          0                               0
    Cuprum                           0                               0
    Habitat                          0                               0
    Modelo                           0                               0
    PlanVital                        0                               0
    Provida                          0                               0

0             Monto Ahorro Voluntario Total A Pagar A AFP SC Afiliados  \
Ene Capital                         0              187293            0
    Cuprum                          0              169204         3267
    Habitat                         0             1150760        11006
    Modelo                          0              515142        12904
    PlanVital                       0              278868            0
    Provida                         0              599226        11150
Feb Capital                         0              275702         5298
    Cuprum                          0              169204         3267
    Habitat                         0             1150760        11006
    Modelo                          0              515142        12904
    PlanVital                       0              283522            0
    Provida                         0              599226        11150
Mar Capital                         0              348843         5622
    Cuprum                          0              130562         3488
    Habitat                         0              708005        11006
    Modelo                          0              842042         6951
    PlanVital                       0              331469            0
    Provida                         0              735375         9347

0             SC Empleador Total A Pagar SC
Ene Capital          40065            40065
    Cuprum           35870            39137
    Habitat         222482           233488
    Modelo          112741           125645
    PlanVital        65925            65925
    Provida         110656           121806
Feb Capital          58472            63770
    Cuprum           35870            39137
    Habitat         222482           233488
    Modelo          112741           125645
    PlanVital        67026            67026
    Provida         110656           121806
Mar Capital          75067            80689
    Cuprum           26712            30200
    Habitat         123837           134843
    Modelo          198423           205374
    PlanVital        83508            83508
    Provida         143952           153299

,,Cotiz. Legal,Reajuste,Interés,Multas,SUB TOTAL FONASA,Compensación Asignación Familiar,Total A Pagar
Ene,FONASA,905198,0,0,0,905198,0,905198
Feb,FONASA,955785,0,0,0,955785,0,955785
Mar,FONASA,1089890,0,0,0,1089890,0,1089890

0               Cotización Legal De Salud Cotización Ley 18.566  \
Ene Banmedica                      137485                     0
    Colmena                         40379                     0
    Consalud                       226882                     0
    Cruz Blanca                    128903                     0
    VidaTres                       128403                     0
Feb Banmedica                      137485                     0
    Colmena                         40379                     0
    Consalud                       226882                     0
    Cruz Blanca                    128903                     0
    VidaTres                       128403                     0
Mar Banmedica                      100214                     0
    Colmena                         41639                     0
    Consalud                       197360                     0
    Cruz Blanca                    106955                     0
    VidaTres                       128403                     0

0               Cotización Adicional Voluntaria Total Cotización A Pagar  \
Ene Banmedica                             12306                   149791
    Colmena                                   0                    40379
    Consalud                             123686                   350568
    Cruz Blanca                          103728                   232631
    VidaTres                              42384                   170787
Feb Banmedica                             12342                   149827
    Colmena                                   0                    40379
    Consalud                             123800                   350682
    Cruz Blanca                          103807                   232710
    VidaTres                              42450                   170853
Mar Banmedica                                 0                   100214
    Colmena                                   0                    41639
    Consalud                              59912                   257272
    Cruz Blanca                               0                   106955
    VidaTres                              42505                   170908

0               Otros Descuentos Isapre Total A Pagar
Ene Banmedica                         0        149791
    Colmena                           0         40379
    Consalud                          0        350568
    Cruz Blanca                       0        232631
    VidaTres                          0        170787
Feb Banmedica                         0        149827
    Colmena                           0         40379
    Consalud                          0        350682
    Cruz Blanca                       0        232710
    VidaTres                          0        170853
Mar Banmedica                         0        100214
    Colmena                           0         41639
    Consalud                          0        257272
    Cruz Blanca                       0        106955
    VidaTres                          0        170908

0          Total Remuneraciones Total A Pagar
Ene Mutual             24212761        460352
Feb Mutual             24392042        475643
Mar Mutual             25431724        492210

,,Cotización No Afiliados A Isapre,Asignación Familiar,Asignación Familiar Retroactiva,Reintegros De Asignación Familiar,Cotización - Rebajas,Creditos Personales,Convenios Dentales,Leasing,Seguros De Vida,Otros,Total Productos,Total A Pagar A Caja
Ene,CCAF,84862,9180,19775,0,55907,66921,0,0,0,0,66921,122828
Feb,CCAF,89605,9180,0,0,80425,0,0,0,0,0,0,80425
Mar,CCAF,102176,119900,0,0,-17724,0,0,0,0,0,0,-17724