In [50]:
import camelot

In [51]:
import glob

In [52]:
directory = '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/*.pdf'

In [53]:
directory

'/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/*.pdf'

In [54]:
files = [filename for filename in glob.glob(directory)]

In [55]:
files

['/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/Colmena_03.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/Colmena_02.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/Colmena_01.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/Banmedica_02.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/Banmedica_03.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/Consalud_01.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/Consalud_03.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/Banmedica_01.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/Consalud_02.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/CruzBlanca_03.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/VidaTres_01.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/CruzBlanca_02.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/VidaTres_02.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/VidaTres_03.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/ISAPRE/CruzBlanca_01.pdf']

## Let's test ISAPRE

In [56]:
import camelot
import pandas as pd
%matplotlib notebook
import re
import calendar
import locale
locale.setlocale(locale.LC_ALL,'es_ES.UTF-8')

'es_ES.UTF-8'

In [57]:
months = list(calendar.month_abbr)
months = list(map(lambda x: x.capitalize(), months))

In [58]:
area = ['14, 442, 580, 380']
cols = ['136, 241, 362, 418, 459, 513, 590']

In [59]:
def transpose_data(df, month, name):
    df = df.transpose()
    df.columns = df.iloc[0, :]
    df = df.drop(0, axis=0)
    df = df.set_index([[month], [name]])
    
    return df

In [60]:
def isapre_data_cleaning(dfs):
    
    df = dfs[0].df.copy()
    
    month = df.iloc[3, 5].split(' ')[0][:3]
    isapre_name = df.iloc[-1, 0].split(' ')[-1]
    
    if isapre_name == 'S.A.':
        isapre_name = 'Cruz Blanca'
    
    df = df.iloc[:, [0, 3]].copy()
    
    df.iloc[-1, 0] = 'Total A Pagar'
    
    df[0] = df[0].apply(lambda x: x.title())
    
    df.iloc[:, [1]] = df.iloc[:, [1]].apply(lambda x: x.str.replace('.', '')).astype(int)
    
    isapre = transpose_data(df, month, isapre_name)
    
    return isapre

In [61]:
isapre_list = []
for isapre_file in files:
    isapre_dfs = camelot.read_pdf(isapre_file, pages='1', flavor='stream', table_areas=area, columns=cols)
    isapre = isapre_data_cleaning(isapre_dfs)
    isapre_list.append(isapre)

In [62]:
df = pd.concat(isapre_list)

In [63]:
df

0               Cotizaci贸n Legal De Salud Cotizaci贸n Ley 18.566  \
Mar Colmena                         41639                     0
Feb Colmena                         40379                     0
Ene Colmena                         40379                     0
Feb Banmedica                      137485                     0
Mar Banmedica                      100214                     0
Ene Consalud                       226882                     0
Mar Consalud                       197360                     0
Ene Banmedica                      137485                     0
Feb Consalud                       226882                     0
Mar Cruz Blanca                    106955                     0
Ene VidaTres                       128403                     0
Feb Cruz Blanca                    128903                     0
    VidaTres                       128403                     0
Mar VidaTres                       128403                     0
Ene Cruz Blanca                    128903                     0

0               Cotizaci贸n Adicional Voluntaria Total Cotizaci贸n A Pagar  \
Mar Colmena                                   0                    41639
Feb Colmena                                   0                    40379
Ene Colmena                                   0                    40379
Feb Banmedica                             12342                   149827
Mar Banmedica                                 0                   100214
Ene Consalud                             123686                   350568
Mar Consalud                              59912                   257272
Ene Banmedica                             12306                   149791
Feb Consalud                             123800                   350682
Mar Cruz Blanca                               0                   106955
Ene VidaTres                              42384                   170787
Feb Cruz Blanca                          103807                   232710
    VidaTres                              42450                   170853
Mar VidaTres                              42505                   170908
Ene Cruz Blanca                          103728                   232631

0               Otros Descuentos Isapre Total A Pagar
Mar Colmena                           0         41639
Feb Colmena                           0         40379
Ene Colmena                           0         40379
Feb Banmedica                         0        149827
Mar Banmedica                         0        100214
Ene Consalud                          0        350568
Mar Consalud                          0        257272
Ene Banmedica                         0        149791
Feb Consalud                          0        350682
Mar Cruz Blanca                       0        106955
Ene VidaTres                          0        170787
Feb Cruz Blanca                       0        232710
    VidaTres                          0        170853
Mar VidaTres                          0        170908
Ene Cruz Blanca                       0        232631

In [64]:
month = list(calendar.month_abbr)

In [65]:
month = list(map(lambda x: x.capitalize(), meses))

In [66]:
month_categories = pd.CategoricalIndex(df.index.get_level_values(0), categories=meses[1:], ordered=True)

In [67]:
df

0               Cotizaci贸n Legal De Salud Cotizaci贸n Ley 18.566  \
Mar Colmena                         41639                     0
Feb Colmena                         40379                     0
Ene Colmena                         40379                     0
Feb Banmedica                      137485                     0
Mar Banmedica                      100214                     0
Ene Consalud                       226882                     0
Mar Consalud                       197360                     0
Ene Banmedica                      137485                     0
Feb Consalud                       226882                     0
Mar Cruz Blanca                    106955                     0
Ene VidaTres                       128403                     0
Feb Cruz Blanca                    128903                     0
    VidaTres                       128403                     0
Mar VidaTres                       128403                     0
Ene Cruz Blanca                    128903                     0

0               Cotizaci贸n Adicional Voluntaria Total Cotizaci贸n A Pagar  \
Mar Colmena                                   0                    41639
Feb Colmena                                   0                    40379
Ene Colmena                                   0                    40379
Feb Banmedica                             12342                   149827
Mar Banmedica                                 0                   100214
Ene Consalud                             123686                   350568
Mar Consalud                              59912                   257272
Ene Banmedica                             12306                   149791
Feb Consalud                             123800                   350682
Mar Cruz Blanca                               0                   106955
Ene VidaTres                              42384                   170787
Feb Cruz Blanca                          103807                   232710
    VidaTres                              42450                   170853
Mar VidaTres                              42505                   170908
Ene Cruz Blanca                          103728                   232631

0               Otros Descuentos Isapre Total A Pagar
Mar Colmena                           0         41639
Feb Colmena                           0         40379
Ene Colmena                           0         40379
Feb Banmedica                         0        149827
Mar Banmedica                         0        100214
Ene Consalud                          0        350568
Mar Consalud                          0        257272
Ene Banmedica                         0        149791
Feb Consalud                          0        350682
Mar Cruz Blanca                       0        106955
Ene VidaTres                          0        170787
Feb Cruz Blanca                       0        232710
    VidaTres                          0        170853
Mar VidaTres                          0        170908
Ene Cruz Blanca                       0        232631

In [68]:
def sort_index(df):
    month_categories = pd.CategoricalIndex(df.index.get_level_values(0), categories=months[1:], ordered=True)
    df.index = [month_categories, df.index.get_level_values(1)]
    df = df.sort_index(level=0)
    return df

In [69]:
df = sort_index(df)

In [70]:
df

0               Cotizaci贸n Legal De Salud Cotizaci贸n Ley 18.566  \
Ene Banmedica                      137485                     0
    Colmena                         40379                     0
    Consalud                       226882                     0
    Cruz Blanca                    128903                     0
    VidaTres                       128403                     0
Feb Banmedica                      137485                     0
    Colmena                         40379                     0
    Consalud                       226882                     0
    Cruz Blanca                    128903                     0
    VidaTres                       128403                     0
Mar Banmedica                      100214                     0
    Colmena                         41639                     0
    Consalud                       197360                     0
    Cruz Blanca                    106955                     0
    VidaTres                       128403                     0

0               Cotizaci贸n Adicional Voluntaria Total Cotizaci贸n A Pagar  \
Ene Banmedica                             12306                   149791
    Colmena                                   0                    40379
    Consalud                             123686                   350568
    Cruz Blanca                          103728                   232631
    VidaTres                              42384                   170787
Feb Banmedica                             12342                   149827
    Colmena                                   0                    40379
    Consalud                             123800                   350682
    Cruz Blanca                          103807                   232710
    VidaTres                              42450                   170853
Mar Banmedica                                 0                   100214
    Colmena                                   0                    41639
    Consalud                              59912                   257272
    Cruz Blanca                               0                   106955
    VidaTres                              42505                   170908

0               Otros Descuentos Isapre Total A Pagar
Ene Banmedica                         0        149791
    Colmena                           0         40379
    Consalud                          0        350568
    Cruz Blanca                       0        232631
    VidaTres                          0        170787
Feb Banmedica                         0        149827
    Colmena                           0         40379
    Consalud                          0        350682
    Cruz Blanca                       0        232710
    VidaTres                          0        170853
Mar Banmedica                         0        100214
    Colmena                           0         41639
    Consalud                          0        257272
    Cruz Blanca                       0        106955
    VidaTres                          0        170908

In [18]:
df.index = [month_categories, df.index.get_level_values(1)]

In [19]:
df

0               Cotizaci贸n Legal De Salud Cotizaci贸n Ley 18.566  \
Mar Colmena                         41639                     0
Feb Colmena                         40379                     0
Ene Colmena                         40379                     0
Feb Banmedica                      137485                     0
Mar Banmedica                      100214                     0
Ene Consalud                       226882                     0
Mar Consalud                       197360                     0
Ene Banmedica                      137485                     0
Feb Consalud                       226882                     0
Mar Cruz Blanca                    106955                     0
Ene VidaTres                       128403                     0
Feb Cruz Blanca                    128903                     0
    VidaTres                       128403                     0
Mar VidaTres                       128403                     0
Ene Cruz Blanca                    128903                     0

0               Cotizaci贸n Adicional Voluntaria Total Cotizaci贸n A Pagar  \
Mar Colmena                                   0                    41639
Feb Colmena                                   0                    40379
Ene Colmena                                   0                    40379
Feb Banmedica                             12342                   149827
Mar Banmedica                                 0                   100214
Ene Consalud                             123686                   350568
Mar Consalud                              59912                   257272
Ene Banmedica                             12306                   149791
Feb Consalud                             123800                   350682
Mar Cruz Blanca                               0                   106955
Ene VidaTres                              42384                   170787
Feb Cruz Blanca                          103807                   232710
    VidaTres                              42450                   170853
Mar VidaTres                              42505                   170908
Ene Cruz Blanca                          103728                   232631

0               Otros Descuentos Isapre Total A Pagar
Mar Colmena                           0         41639
Feb Colmena                           0         40379
Ene Colmena                           0         40379
Feb Banmedica                         0        149827
Mar Banmedica                         0        100214
Ene Consalud                          0        350568
Mar Consalud                          0        257272
Ene Banmedica                         0        149791
Feb Consalud                          0        350682
Mar Cruz Blanca                       0        106955
Ene VidaTres                          0        170787
Feb Cruz Blanca                       0        232710
    VidaTres                          0        170853
Mar VidaTres                          0        170908
Ene Cruz Blanca                       0        232631

In [20]:
df = df.sort_index(level=0)

In [21]:
df

0               Cotizaci贸n Legal De Salud Cotizaci贸n Ley 18.566  \
Ene Banmedica                      137485                     0
    Colmena                         40379                     0
    Consalud                       226882                     0
    Cruz Blanca                    128903                     0
    VidaTres                       128403                     0
Feb Banmedica                      137485                     0
    Colmena                         40379                     0
    Consalud                       226882                     0
    Cruz Blanca                    128903                     0
    VidaTres                       128403                     0
Mar Banmedica                      100214                     0
    Colmena                         41639                     0
    Consalud                       197360                     0
    Cruz Blanca                    106955                     0
    VidaTres                       128403                     0

0               Cotizaci贸n Adicional Voluntaria Total Cotizaci贸n A Pagar  \
Ene Banmedica                             12306                   149791
    Colmena                                   0                    40379
    Consalud                             123686                   350568
    Cruz Blanca                          103728                   232631
    VidaTres                              42384                   170787
Feb Banmedica                             12342                   149827
    Colmena                                   0                    40379
    Consalud                             123800                   350682
    Cruz Blanca                          103807                   232710
    VidaTres                              42450                   170853
Mar Banmedica                                 0                   100214
    Colmena                                   0                    41639
    Consalud                              59912                   257272
    Cruz Blanca                               0                   106955
    VidaTres                              42505                   170908

0               Otros Descuentos Isapre Total A Pagar
Ene Banmedica                         0        149791
    Colmena                           0         40379
    Consalud                          0        350568
    Cruz Blanca                       0        232631
    VidaTres                          0        170787
Feb Banmedica                         0        149827
    Colmena                           0         40379
    Consalud                          0        350682
    Cruz Blanca                       0        232710
    VidaTres                          0        170853
Mar Banmedica                         0        100214
    Colmena                           0         41639
    Consalud                          0        257272
    Cruz Blanca                       0        106955
    VidaTres                          0        170908

In [22]:
gb = df.groupby(level=0)

In [24]:
gb.sum()

,Cotizaci贸n Legal De Salud,Cotizaci贸n Ley 18.566,Cotizaci贸n Adicional Voluntaria,Total Cotizaci贸n A Pagar,Otros Descuentos Isapre,Total A Pagar
Ene,662052,0,282104,944156,0,944156
Feb,662052,0,282399,944451,0,944451
Mar,574571,0,102417,676988,0,676988
Abr,0,0,0,0,0,0
May,0,0,0,0,0,0
Jun,0,0,0,0,0,0
Jul,0,0,0,0,0,0
Ago,0,0,0,0,0,0
Sep,0,0,0,0,0,0
Oct,0,0,0,0,0,0
Nov,0,0,0,0,0,0
Dic,0,0,0,0,0,0